version: "3.7"

services:
  nanos:
    image: ledgerhq/speculos
    volumes:
      - ./apps:/speculos/apps
    ports:
      - "1234:1234" # gdb
      - "5005:5005" # api
      - "40000:40000" # apdu
      - "41000:41000" # vnc
    command: "--model nanos ./apps/incognito.elf --sdk 1.6 --seed secret --display headless --apdu-port 40000 --vnc-port 41000"
